@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --custom-red: 253 0 76 /* #fd004c */;
    --custom-orange: 254 144 0 /* #fe9000 */;
    --custom-green: 62 223 75 /* #3edf4b */;
    --custom-blue: 51 99 255 /* #3363ff */;
    --custom-purple: 177 2 183 /* #b102b7 */;
    --custom-light: 255 255 255;
    --custom-dark: 14 14 14;
    --nav-height: 4.5rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark: rgb(var(--custom-dark));
    --color-light: rgb(var(--custom-light));
}

.menu {
    @apply flex gap-10 text-black dark:text-white;
}
#mobile .menu {
    @apply flex flex-col gap-10 text-gray-400 dark:text-gray-500;
}
#mobile .menu .current-menu-item {
    @apply flex flex-col gap-10 text-gray-700 dark:text-gray-300;
}

.custom-container {
    @apply w-full max-w-7xl;
}

@keyframes straight {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-animation {
    background: linear-gradient(
        -45deg,
        rgb(var(--custom-red)),
        rgb(var(--custom-orange)),
        rgb(var(--custom-green)),
        rgb(var(--custom-blue)),
        rgb(var(--custom-purple)),
        rgb(var(--custom-red))
    );
    background-size: 400% 400%;
    animation: straight 10s linear infinite;
}

.gradient-animation-border {
    @apply relative overflow-hidden rounded-md p-1;
}

.gradient-animation-border::before {
    content: "";
    height: 440%;
    width: 180%;
    left: -40%;
    top: -160%;
    position: absolute;
    background: conic-gradient(
        rgb(var(--custom-red)),
        rgb(var(--custom-orange)),
        rgb(var(--custom-green)),
        rgb(var(--custom-blue)),
        rgb(var(--custom-purple)),
        rgb(var(--custom-red))
    );
    animation: spin 1.5s linear infinite;
}

.page-numbers {
    @apply flex items-center justify-center gap-4 dark:text-gray-400;
}

.page-numbers .current {
    @apply font-bold text-gray-900 dark:text-gray-100;
}

#content {
    @apply text-black dark:text-white;
}

#content p {
    @apply mb-6;
}
#content strong {
    @apply font-bold;
}
#content h2 {
    @apply mb-6 text-3xl font-bold;
}
#content h3 {
    @apply mb-6 text-2xl font-bold;
}
#content h4 {
    @apply mb-6 text-xl font-bold;
}

#content li {
    @apply mb-4 list-inside list-disc;
}

#content a {
    @apply text-blue-500 underline;
}

@layer base {
    .gradient-animation-slow {
        background: linear-gradient(
            -45deg,
            rgb(var(--custom-red)),
            rgb(var(--custom-orange)),
            rgb(var(--custom-green)),
            rgb(var(--custom-blue)),
            rgb(var(--custom-purple)),
            rgb(var(--custom-red))
        );
        background-size: 400% 400%;
        animation: straight 100s linear infinite;
    }
}

@layer components {
    .current-menu-item {
        @apply relative;
    }

    .current-menu-item::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 3px;
        width: 100%;
        @apply shadow;
        background: linear-gradient(
            -45deg,
            rgb(var(--custom-red)),
            rgb(var(--custom-orange)),
            rgb(var(--custom-green)),
            rgb(var(--custom-blue)),
            rgb(var(--custom-purple)),
            rgb(var(--custom-red))
        );
        background-size: 400% 400%;
        animation: straight 100s linear infinite;
    }
}

@layer utilities {
    [data-fade] {
        @apply translate-y-10 opacity-0 transition delay-200 duration-300 ease-out motion-reduce:translate-y-0 motion-reduce:opacity-100;
    }

    .fade-in-start [data-fade] {
        @apply translate-y-0 opacity-100;
    }

    .fade-in-start [data-fade="1"] {
        transition-delay: 100ms;
    }

    .fade-in-start [data-fade="2"] {
        transition-delay: 200ms;
    }

    .fade-in-start [data-fade="3"] {
        transition-delay: 300ms;
    }

    .fade-in-start [data-fade="4"] {
        transition-delay: 400ms;
    }

    .fade-in-start [data-fade="5"] {
        transition-delay: 500ms;
    }

    .fade-in-start [data-fade="6"] {
        transition-delay: 600ms;
    }

    .fade-in-start [data-fade="7"] {
        transition-delay: 700ms;
    }

    .fade-in-start [data-fade="8"] {
        transition-delay: 800ms;
    }
}
